@charset "utf-8";
/* CSS Document */

body {
	background-color:#181818;
}
header, nav, main, footer {
	color: white;
	padding-left: 15px;
	padding-right: 15px;
}
nav a {color:blue}
nav a:hover{color:black}

h1 {
	background-color: #202020;
	padding: 15px
}
body {
	margin: 0px;
	border: 5px solid black;
	background-color: #181818;
	min-width:750px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}
header{
	hieght:75px;
	line-hieght:75px;
}
#wrapper {
	margin-left:auto;
	margin-right:auto;
	width:80%;
	border: solid black;
	background-color:#181818;
	box-shadow: 5px 5px 5px #181818;
}
body {
	background-image:linear-gradient(to bottom, #ffffff, #ff0000);
}